## 1. Set up, data ingestion and conversion of excel table to CSV and a list of data frames

### 1.1 Import dependencies

In [3]:
import pandas as pd
# !pip install openpyxl
import openpyxl
from sqlalchemy import create_engine
import sqlite3 as sql
import pandas as pd

### 1.2 Retrieve data from excel files

In [5]:
excel_file = 'Data_Tables_LGA_Criminal_Incidents_Year_Ending_March_2022.xlsx'
all_sheets = pd.read_excel(excel_file, sheet_name=None)
sheets = all_sheets.keys()

for sheet_name in sheets:
    sheet = pd.read_excel(excel_file, sheet_name=sheet_name)
    sheet.to_csv("%s.csv" % sheet_name, index=False)

Contents
Table 01

Criminal incidents and rate per 100,000 population by police region and local government area - April 2012 to March 2022
Table 02

Criminal incidents and rate per 100,000 population by principal offence, local government area and police service area - April 2012 to March 2022
Table 03

Criminal incidents by principal offence, local government area and postcode or suburb/town - April 2012 to March 2022
Table 04

Criminal incidents by location type and local government area - April 2012 to March 2022
Table 05

Criminal incidents by charge status and local government area - April 2012 to March 2022
Data exclusions
Table 01

excludes criminal incidents where the geographic location is unknown. For further information of these geographic locations please refer to the Explanatory Notes and Glossary on the website.
Tables 02 - 05

excludes criminal incidents at Justice institutions and immigration facilities, Unincorporated Victoria and where the geographic location is unknown. For further information of these geographic locations please refer to the Explanatory Notes and Glossary on the website.
Notes
Recorded crime statistics are based on data extracted by Victoria police on the 18th day after the reference period, and are subject to movement between releases. For more information about how statistics are compiled, refer to the Explanatory notes on the CSA website.
In order to maintain confidentiality, sensitive offence counts for subdivisions 'A10 Homicide and related offences' and 'A30 Sexual offences' with a value of 3 or less are given a value of 2 to calculate totals. Rates are based on populations provided by the Australian Bureau of Statistics (ABS). The most recent year of data was not available from the ABS in time for it to be used to calculate current year rates. The CSA uses estimates created by the Victorian State Government 'Victoria in Futures' report.
This work is licenced under a Creative Commons Attribution 4.0 International License. When reporting this data you must attribute the Crime Statistics Agency (or CSA) as the source.

### 1.3 Loop thru excel file to convert various worksheets to csv files

In [6]:
#Create list of dataframes from csv files
file_list = []
for i in range(1,7):
    file_list.append(f"Table 0{i}.csv")

df_list = [pd.read_csv(file) for file in file_list]
file_list

['Table 01.csv',
 'Table 02.csv',
 'Table 03.csv',
 'Table 04.csv',
 'Table 05.csv',
 'Table 06.csv']

## 2. Data cleaning and organization

### 2.1 Create a data frame that matches Police Regions with LGAs. 

#### Table 01.csv shows the number of incidents by Police Region and LGA – it is is the only table that shows the Police Region.
#### The Police Region is required for filtering within the data visualisation

In [7]:
# create data frame
region_lga_df = pd.read_csv("Table 01.csv")
# region_lga_df

In [8]:
# 2.1.2 strip out blanks from Local Government Area(LGA) and drop duplcates to 
# create a datafream that matched Police Regions to LGA
region_lga_df["Local Government Area"] = region_lga_df["Local Government Area"].str.strip()
region_lga_map_df =region_lga_df[["Local Government Area","Police Region"]].drop_duplicates().reset_index(drop=True)
# region_lga_map_df.info()
# region_lga_map_df.head()

### 2.2 Create and clean LGA_Offence_df_2019_2022 from Table 02 which is more granular in terms of both geographical areas and offence types.
#### Specifically, Table 02.csv holds data at Police Area, LGA, postcode and town/suburb areas as well as all three Offence categories form 2013 to 2022. It is missing the Police Region Area level

In [9]:
# 2.2.1 Exract rows that are greater than year 2018 (use 4 years data, 2019-2022) 
# and drop column 'Year ending' as the crime tables are created on March (no date details) every year.
lga_offence_2019_2022_df = df_list[1].loc[df_list[1].Year > 2018].drop ('Year ending', axis=1)
# lga_offence_2019_2022_df.info()

In [10]:
# 2.2.2. Join Police Region onto the lga_offence_2019_2022_df
region_psa_lga_offence_2019_2022_df=pd.merge(lga_offence_2019_2022_df, region_lga_df [["Police Region","Local Government Area"]],
       on="Local Government Area")

offence_2019_2022_df = region_psa_lga_offence_2019_2022_df.drop_duplicates()
# offence_2019_2022_df.head()

## 3. Create Offence Division data frame by Year

In [11]:
offence_division_summary_df = df_list[5]
#     .drop('Year ending',axis=1)
offence_division_summary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Year                                  320 non-null    int64
 1   Local Government Area                 320 non-null    object
 2   A Crimes against the person           320 non-null    int64
 3   B Property and deception offences     320 non-null    int64
 4   C Drug offences                       318 non-null    float64
 5   D Public order and security offences  320 non-null    int64
 6   E Justice procedures offences         320 non-null    int64
 7   F Other offences                      311 non-null    float64
dtypes: float64(2), int64(5), object(1)
memory usage: 20.1+ KB

In [12]:
# 3.2.1  Join Police Region onto the offence_division_summary_df
offence_division_region_df=pd.merge(offence_division_summary_df, region_lga_df [["Police Region","Local Government Area"]],
       on="Local Government Area")

offence_division_region_df= offence_division_region_df.drop_duplicates()
offence_division_region_df.head()

,Year,Local Government Area,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences,Police Region
0,2019,Alpine,114,161,26.0,48,50,NaN,2 Eastern
10,2020,Alpine,92,220,24.0,47,52,4.0,2 Eastern
20,2021,Alpine,103,138,21.0,37,62,39.0,2 Eastern
30,2022,Alpine,86,149,16.0,33,61,25.0,2 Eastern
40,2019,Ararat,223,376,65.0,81,165,2.0,4 Western

In [13]:
# 3.2.2.Create a list of Police Regions to enable filtering by Police Region
policeRegions = offence_division_region_df['Police Region'].unique().tolist()
policeRegions

['2 Eastern', '4 Western', '1 North West Metro', '3 Southern Metro']

In [14]:
# 3.2.3.Create a list of LGAs to enable filtering by LGA

lgas = offence_division_summary_df['Local Government Area'].unique().tolist()
# lgas

## 4. Create 2022 data frame for Analysis 2 - Crime patterns for 2022 by Offence Types

In [15]:
lga_offence_2022_df = df_list[1].loc[df_list[1].Year > 2021].drop ('Year ending', axis=1)
# lga_offence_2022_df
lga_offence_2022_df2=pd.merge(lga_offence_2022_df, region_lga_df [["Police Region","Local Government Area"]],
       on="Local Government Area")

offence_2022_df=lga_offence_2022_df2.drop_duplicates()
offence_2022_df.info()
# offence_2022_df= offence_2019_2022_df[offence_2019_2022_df].Year > 2021

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5017 entries, 0 to 50160
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Year                             5017 non-null   int64
 1   Offence Division                 5017 non-null   object
 2   Offence Subdivision              5017 non-null   object
 3   Offence Subgroup                 5017 non-null   object
 4   Incidents Recorded               5017 non-null   int64
 5   PSA Rate per 100,000 population  5017 non-null   float64
 6   LGA Rate per 100,000 population  5017 non-null   float64
 7   Local Government Area            5017 non-null   object
 8   Police Service Area              5017 non-null   object
 9   Police Region                    5017 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 431.1+ KB

## 5. Export dataframes to csv files for checking data quality

In [16]:
#add to data base as required for Analysis 1
offence_division_summary_df.to_csv('Offence_division_summary.csv',index=0)
offence_division_summary = pd.read_csv('Offence_division_summary.csv')

In [17]:
## do not add this data set to db as too
offence_2019_2022_df.to_csv('crime_data_2019_2022.csv',index=0)
crime_offence_2019_2022 = pd.read_csv('crime_data_2019_2022.csv')

In [18]:
#add to data base as required for Analysis 2
offence_2022_df.to_csv('crime_data_2022.csv',index=0)
offence_2022 = pd.read_csv('crime_data_2022.csv')

## 6. Connect to database HEROKU

In [19]:
DB_conn = "postgresql://yumurxqtwshjnx:fd683e2aa6f171ff752079e8833a7c447db446d1f2f363444e9a7647c1488e10@ec2-18-209-78-11.compute-1.amazonaws.com:5432/d6f887ofgg2ipi"

engine = create_engine (DB_conn)

In [20]:
engine.table_names()

/Users/juliacooper/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['offence_division_summary', 'offence_2022']

In [21]:
offence_2022 = pd.read_sql_query('select * from offence_2022', con=engine)
# offence_2022.head()

In [22]:
offence_division_summary_df.to_sql(name='offence_division_summary', con=engine, if_exists='replace', index=False)

In [23]:
print(pd.read_sql_query('select count(*) from offence_division_summary', con=engine))
df=pd.read_sql_query('select * from offence_division_summary', con=engine)
df.head()

   count
0    320

,Year,Local Government Area,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences
0,2019,All,62793,231351,16037.0,23989,49129,783.0
1,2019,Alpine,114,161,26.0,48,50,NaN
2,2019,Ararat,223,376,65.0,81,165,2.0
3,2019,Ballarat,1372,5061,204.0,372,1105,15.0
4,2019,Banyule,957,4063,223.0,309,1442,11.0

In [24]:
offence_2022_df.to_sql(name='offence_2022', con=engine, if_exists='replace', index=False)

In [25]:
print(pd.read_sql_query('select count(*) from offence_2022', con=engine))
pd.read_sql_query('select * from offence_2022', con=engine)

   count
0   5017

,Year,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,"PSA Rate per 100,000 population","LGA Rate per 100,000 population",Local Government Area,Police Service Area,Police Region
0,2022,A Crimes against the person,A10 Homicide and related offences,A10 Homicide and related offences,5,4.059101,4.328089,Ballarat,Ballarat,4 Western
1,2022,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,120,97.418429,103.874128,Ballarat,Ballarat,4 Western
2,2022,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,147,119.337575,127.245807,Ballarat,Ballarat,4 Western
3,2022,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",53,43.026473,45.877740,Ballarat,Ballarat,4 Western
4,2022,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,222,180.224093,192.167137,Ballarat,Ballarat,4 Western
...,...,...,...,...,...,...,...,...,...,...
5012,2022,E Justice procedures offences,E20 Breaches of orders,E29 Breach of other orders,2,1.269273,1.269273,Yarra Ranges,Yarra Ranges,2 Eastern
5013,2022,F Other offences,F20 Transport regulation offences,F21 Public transport,1,0.634637,0.634637,Yarra Ranges,Yarra Ranges,2 Eastern
5014,2022,F Other offences,F20 Transport regulation offences,F24 Pedestrian offences,1,0.634637,0.634637,Yarra Ranges,Yarra Ranges,2 Eastern
5015,2022,F Other offences,F90 Miscellaneous offences,F92 Public health and safety offences,188,119.311705,119.311705,Yarra Ranges,Yarra Ranges,2 Eastern
5016,2022,F Other offences,F90 Miscellaneous offences,F93 Cruelty to animals,1,0.634637,0.634637,Yarra Ranges,Yarra Ranges,2 Eastern

In [26]:
# Check database table's availability
engine.table_names()

/Users/juliacooper/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['offence_division_summary', 'offence_2022']

## Connect to data bases to source the data for Analysis 1

In [27]:
DB_conn = "postgresql://yumurxqtwshjnx:fd683e2aa6f171ff752079e8833a7c447db446d1f2f363444e9a7647c1488e10@ec2-18-209-78-11.compute-1.amazonaws.com:5432/d6f887ofgg2ipi"

engine = create_engine (DB_conn)

In [28]:
offence_division_summary_df = pd.read_sql_query('select * from offence_division_summary', con=engine)
# offence_division_summary_df
offence_division_summary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Year                                  320 non-null    int64
 1   Local Government Area                 320 non-null    object
 2   A Crimes against the person           320 non-null    int64
 3   B Property and deception offences     320 non-null    int64
 4   C Drug offences                       318 non-null    float64
 5   D Public order and security offences  320 non-null    int64
 6   E Justice procedures offences         320 non-null    int64
 7   F Other offences                      311 non-null    float64
dtypes: float64(2), int64(5), object(1)
memory usage: 20.1+ KB

### 3.3 read data in from Heroku and export as JSON file

In [30]:
import json

payload = {}

for lga in offence_division_summary_df['Local Government Area'].unique().tolist():
    df = offence_division_summary_df.loc[offence_division_summary_df['Local Government Area'] == lga].groupby\
        (['Local Government Area','Year']).agg(sum).reset_index().drop('Local Government Area',axis =1).set_index('Year')
    df
    dataStackedBar = {'labels': df.index.tolist(),'datasets':[]}

    # colors = ['#cbd4c2ff','#dbebc0ff','#c3b299ff','#815355ff','#523249ff','#000000']
    #colors = ??? Need to change 
    color = 0
    for col in df.columns:
        dataStackedBar['datasets'].append({
            'label': col,
            'data': df[col].values.tolist(),
            'backgroundColor': colors[color]
        })
        color += 1
    payload[lga] = dataStackedBar

with open('bardata.json','w') as output:
    json.dump(payload,output)

In [31]:
all_df = pd.read_sql('SELECT * FROM  offence_2022', DB_conn )

In [44]:
# all_df.head()

In [32]:

filter_df = all_df.groupby(["Offence Division","Offence Subdivision", "Offence Subgroup"])["Incidents Recorded"].sum()
filter_df = filter_df.reset_index()
filter_df.info()
# filter_df = filter_df.reset_index()
# filter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Offence Division     103 non-null    object
 1   Offence Subdivision  103 non-null    object
 2   Offence Subgroup     103 non-null    object
 3   Incidents Recorded   103 non-null    int64
dtypes: int64(1), object(3)
memory usage: 3.3+ KB

In [33]:
import json

#https://stackoverflow.com/questions/59946453/creating-a-flare-json-to-be-used-in-d3-from-pandas-dataframe
#initialise a flare dictionary
flare = {"name": "flare", "children": []}

# iterate through dataframe values
for row in filter_df.values:
    level0 = row[0]
    level1 = row[1]
    level2 = row[2]
    value = row[3]
    
    # create a dictionary with all the row data
    d = {'name': level0,
          'children': [{'name': level1,
                        'children': [{'name': level2,
                                      'value': value}]}]}
    # initialize key lists
    key0 = []
    key1 = []

    # iterate through first level node names
    for i in flare['children']:
        key0.append(i['name'])

        # iterate through next level node names
        key1 = []
        for _, v in i.items():
            if isinstance(v, list):
                for x in v:
                    key1.append(x['name'])

    # add the full row of data if the root is not in key0
    if level0 not in key0:
        d = {'name': level0,
              'children': [{'name': level1,
                            'children': [{'name': level2,
                                          'value': value}]}]}
        flare['children'].append(d)

    elif level1 not in key1:

        # if the root exists, then append only the next level children

        d = {'name': level1,
              'children': [{'name': level2,
                            'value': value}]}

        flare['children'][key0.index(level0)]['children'].append(d)

    else:

        # if the root exists, then only append the next level children
        
        d = {'name': level2,
             'value': value}

        flare['children'][key0.index(level0)]['children'][key1.index(level1)]['children'].append(d)

# uncomment next three lines to save as json file
# save to some file
with open('flare2.json', 'w') as outfile:
    json.dump(flare, outfile)

print(json.dumps(flare, indent=2))

{
  "name": "flare",
  "children": [
    {
      "name": "A Crimes against the person",
      "children": [
        {
          "name": "A10 Homicide and related offences",
          "children": [
            {
              "name": "A10 Homicide and related offences",
              "value": 174
            }
          ]
        },
        {
          "name": "A20 Assault and related offences",
          "children": [
            {
              "name": "A211 FV Serious assault",
              "value": 7043
            },
            {
              "name": "A212 Non-FV Serious assault",
              "value": 7814
            },
            {
              "name": "A22 Assault police, emergency services or other authorised officer",
              "value": 1938
            },
            {
              "name": "A231 FV Common assault",
              "value": 13933
            },
            {
              "name": "A232 Non-FV Common assault",
              "value": 9797
            }
          ]
        },
        {
          "name": "A30 Sexual offences",
          "children": [
            {
              "name": "A30 Sexual offences",
              "value": 8941
            }
          ]
        },
        {
          "name": "A40 Abduction and related offences",
          "children": [
            {
              "name": "A41 Abduction",
              "value": 131
            },
            {
              "name": "A42 False imprisonment",
              "value": 285
            },
            {
              "name": "A43 Slavery and sexual servitude offences",
              "value": 2
            }
          ]
        },
        {
          "name": "A50 Robbery",
          "children": [
            {
              "name": "A51 Aggravated robbery",
              "value": 1631
            },
            {
              "name": "A52 Non-Aggravated robbery",
              "value": 209
            }
          ]
        },
        {
          "name": "A60 Blackmail and extortion",
          "children": [
            {
              "name": "A61 Blackmail",
              "value": 156
            },
            {
              "name": "A62 Extortion",
              "value": 56
            }
          ]
        },
        {
          "name": "A70 Stalking, harassment and threatening behaviour",
          "children": [
            {
              "name": "A711 FV Stalking",
              "value": 1279
            },
            {
              "name": "A712 Non-FV Stalking",
              "value": 880
            },
            {
              "name": "A721 FV Harassment and private nuisance",
              "value": 680
            },
            {
              "name": "A722 Non-FV Harassment and private nuisance",
              "value": 685
            },
            {
              "name": "A731 FV Threatening behaviour",
              "value": 2513
            },
            {
              "name": "A732 Non-FV Threatening behaviour",
              "value": 2065
            }
          ]
        },
        {
          "name": "A80 Dangerous and negligent acts endangering people",
          "children": [
            {
              "name": "A81 Dangerous driving",
              "value": 1114
            },
            {
              "name": "A82 Neglect or ill treatment of people",
              "value": 34
            },
            {
              "name": "A83 Throw or discharge object endangering people",
              "value": 824
            },
            {
              "name": "A89 Other dangerous or negligent acts endangering people",
              "value": 2070
            }
          ]
        }
      ]
    },
    {
      "name": "B Property and deception offences",
      "children": [
        {
          "name": "B10 Arson",
          "children": [
            {
              "name": "B11 Cause damage by fire",
              "value": 1608
            },
            {
              "name": "B12 Cause a bushfire",
              "value": 47
            },
            {
              "name": "B19 Other fire related offences",
              "value": 269
            }
          ]
        },
        {
          "name": "B20 Property damage",
          "children": [
            {
              "name": "B21 Criminal damage",
              "value": 28263
            },
            {
              "name": "B22 Graffiti",
              "value": 2957
            },
            {
              "name": "B29 Other property damage offences",
              "value": 254
            }
          ]
        },
        {
          "name": "B30 Burglary/Break and enter",
          "children": [
            {
              "name": "B311 Residential aggravated burglary",
              "value": 3367
            },
            {
              "name": "B312 Non-residential aggravated burglary",
              "value": 95
            },
            {
              "name": "B319 Unknown aggravated burglary",
              "value": 5
            },
            {
              "name": "B321 Residential non-aggravated burglary",
              "value": 15542
            },
            {
              "name": "B322 Non-residential non-aggravated burglary",
              "value": 8773
            },
            {
              "name": "B329 Unknown non-aggravated burglary",
              "value": 64
            }
          ]
        },
        {
          "name": "B40 Theft",
          "children": [
            {
              "name": "B41 Motor vehicle theft",
              "value": 10410
            },
            {
              "name": "B42 Steal from a motor vehicle",
              "value": 42001
            },
            {
              "name": "B43 Steal from a retail store",
              "value": 14211
            },
            {
              "name": "B44 Theft of a bicycle",
              "value": 6612
            },
            {
              "name": "B45 Receiving or handling stolen goods",
              "value": 5054
            },
            {
              "name": "B46 Fare evasion",
              "value": 10
            },
            {
              "name": "B49 Other theft",
              "value": 30385
            }
          ]
        },
        {
          "name": "B50 Deception",
          "children": [
            {
              "name": "B51 Forgery and counterfeiting",
              "value": 1760
            },
            {
              "name": "B52 Possess equipment to make false instrument",
              "value": 7
            },
            {
              "name": "B53 Obtain benefit by deception",
              "value": 14840
            },
            {
              "name": "B54 State false information",
              "value": 526
            },
            {
              "name": "B55 Deceptive business practices",
              "value": 5
            },
            {
              "name": "B56 Professional malpractice and misrepresentation",
              "value": 86
            },
            {
              "name": "B59 Other deception offences",
              "value": 179
            }
          ]
        },
        {
          "name": "B60 Bribery",
          "children": [
            {
              "name": "B61 Bribery of officials",
              "value": 3
            }
          ]
        }
      ]
    },
    {
      "name": "C Drug offences",
      "children": [
        {
          "name": "C10 Drug dealing and trafficking",
          "children": [
            {
              "name": "C11 Drug dealing",
              "value": 28
            },
            {
              "name": "C12 Drug trafficking",
              "value": 2429
            }
          ]
        },
        {
          "name": "C20 Cultivate or manufacture drugs",
          "children": [
            {
              "name": "C21 Cultivate drugs",
              "value": 871
            },
            {
              "name": "C23 Possess drug manufacturing equipment or precursor",
              "value": 547
            }
          ]
        },
        {
          "name": "C30 Drug use and possession",
          "children": [
            {
              "name": "C31 Drug use",
              "value": 124
            },
            {
              "name": "C32 Drug possession",
              "value": 9610
            }
          ]
        },
        {
          "name": "C90 Other drug offences",
          "children": [
            {
              "name": "C99 Other drug offences",
              "value": 49
            }
          ]
        }
      ]
    },
    {
      "name": "D Public order and security offences",
      "children": [
        {
          "name": "D10 Weapons and explosives offences",
          "children": [
            {
              "name": "D11 Firearms offences",
              "value": 2483
            },
            {
              "name": "D12 Prohibited and controlled weapons offences",
              "value": 5847
            },
            {
              "name": "D13 Explosives offences",
              "value": 196
            }
          ]
        },
        {
          "name": "D20 Disorderly and offensive conduct",
          "children": [
            {
              "name": "D21 Riot and affray",
              "value": 519
            },
            {
              "name": "D22 Drunk and disorderly in public",
              "value": 3187
            },
            {
              "name": "D23 Offensive conduct",
              "value": 1514
            },
            {
              "name": "D24 Offensive language",
              "value": 324
            },
            {
              "name": "D25 Criminal intent",
              "value": 274
            },
            {
              "name": "D26 Disorderly conduct",
              "value": 168
            }
          ]
        },
        {
          "name": "D30 Public nuisance offences",
          "children": [
            {
              "name": "D31 Privacy offences",
              "value": 75
            },
            {
              "name": "D32 Hoaxes",
              "value": 100
            },
            {
              "name": "D33 Begging",
              "value": 12
            },
            {
              "name": "D34 Defamation and libel",
              "value": 1
            },
            {
              "name": "D35 Improper movement on public or private space",
              "value": 1686
            },
            {
              "name": "D36 Other public nuisance offences",
              "value": 32
            }
          ]
        },
        {
          "name": "D40 Public security offences",
          "children": [
            {
              "name": "D41 Immigration offences",
              "value": 1
            },
            {
              "name": "D43 Hacking",
              "value": 19
            },
            {
              "name": "D44 Terrorism offences",
              "value": 5
            }
          ]
        }
      ]
    },
    {
      "name": "E Justice procedures offences",
      "children": [
        {
          "name": "E10 Justice procedures",
          "children": [
            {
              "name": "E11 Escape custody",
              "value": 54
            },
            {
              "name": "E13 Resist or hinder officer",
              "value": 6057
            },
            {
              "name": "E14 Pervert the course of justice or commit perjury",
              "value": 439
            },
            {
              "name": "E15 Prison regulation offences",
              "value": 330
            },
            {
              "name": "E19 Other justice procedures offences",
              "value": 895
            }
          ]
        },
        {
          "name": "E20 Breaches of orders",
          "children": [
            {
              "name": "E21 Breach family violence order",
              "value": 23682
            },
            {
              "name": "E22 Breach intervention order",
              "value": 2547
            },
            {
              "name": "E23 Breach bail conditions",
              "value": 15075
            },
            {
              "name": "E29 Breach of other orders",
              "value": 981
            }
          ]
        }
      ]
    },
    {
      "name": "F Other offences",
      "children": [
        {
          "name": "F10 Regulatory driving offences",
          "children": [
            {
              "name": "F11 Drink driving",
              "value": 1
            },
            {
              "name": "F19 Other regulatory driving offences",
              "value": 16
            }
          ]
        },
        {
          "name": "F20 Transport regulation offences",
          "children": [
            {
              "name": "F21 Public transport",
              "value": 52
            },
            {
              "name": "F22 Aviation regulations offences",
              "value": 7
            },
            {
              "name": "F23 Maritime regulations offences",
              "value": 73
            },
            {
              "name": "F24 Pedestrian offences",
              "value": 2
            },
            {
              "name": "F29 Other transport regulation offences",
              "value": 23
            }
          ]
        },
        {
          "name": "F30 Other government regulatory offences",
          "children": [
            {
              "name": "F31 Betting and gaming offences",
              "value": 18
            },
            {
              "name": "F32 Commercial regulation offences",
              "value": 20
            },
            {
              "name": "F33 Liquor and tobacco licensing offences",
              "value": 44
            },
            {
              "name": "F34 Pornography and censorship offences",
              "value": 1
            },
            {
              "name": "F36 Prostitution offences",
              "value": 11
            },
            {
              "name": "F39 Other government regulatory offences",
              "value": 40
            }
          ]
        },
        {
          "name": "F90 Miscellaneous offences",
          "children": [
            {
              "name": "F91 Environmental offences",
              "value": 32
            },
            {
              "name": "F92 Public health and safety offences",
              "value": 9947
            },
            {
              "name": "F93 Cruelty to animals",
              "value": 122
            },
            {
              "name": "F94 Dangerous substance offences",
              "value": 7
            },
            {
              "name": "F99 Other miscellaneous offences",
              "value": 31
            }
          ]
        }
      ]
    }
  ]
}